<p>
  <strong><%= t('activerecord.attributes.comment.name') %>:</strong>
  <%= comment.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.comment.description') %>:</strong>
  <%= comment.description %>
</p>

