@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



/* extend bootstrap */

.navbar-kilogy {
  @extend .navbar-default !optional;
  background-color: #F6E6B4;

}
.navbar-brand-small {
  @extend .navbar-brand !optional;
  font-size: 90%;

}

table{
 @extend .table !optional;
 @extend .table-striped !optional;
 @extend .table-hover !optional;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    
    h4{
      margin-top: 0;
      margin-bottom: 5px;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    code {
        border-radius: 3px;
    }
    
    +.bs-callout {
        margin-top: -5px;
    }

}

@mixin callout-default($callout_color: #777777 ) {
    border-left-color: $callout_color;
  h4 {
    font-weight: bold;
    color: $callout_color;
  }
}

.bs-callout-default {
  @include callout-default();
}

.bs-callout-primary {
  @include callout-default(#428bca);
}

.bs-callout-success {
  @include callout-default(#5cb85c);
}

.bs-callout-danger {
  @include callout-default(#d9534f);
}

.bs-callout-warning {
  @include callout-default(#e09d3e);
}

.bs-callout-info {
  @include callout-default(#5bc0de);
}

