<div>
  <canvas id="paper" class="paper" width="60" height="20" data-target="#sign" style="background-color:#FFFDE6;">
    ご利用のブラウザではサインは表示できません。
  </canvas>
  <button type="button" name="clearCanvas" class="clear-canvas">クリア</button>
  <input type="hidden" id="sign" name="sign" value="" />
</div>