<% breadcrumb :inspection_show %>
<h1><%= t('views.inspection.show') %></h1>

<%= render 'show', inspection: @inspection %>

<hr>
<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
